.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inactive {
  color: black;
}

.active{
  color: green;
}

.ul-style {
  display: flex;
  flex-direction: row;
}

.li-style {
  width: 200px;
  list-style-type: none;
  border: 1px;
  padding: 5px;
}

.button-style {
  width: 100px;
  padding: 5px;
}

.clogo {
  max-width: 150px;
}
.cheader{
  display: flex;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}